---
---

$base-font-family:      'Fira Code', monospace;
$text-color:            #E9EAEC !default;
$background-color:      rgb(16, 13, 37);
$brand-color:           #D3BBDD !default;
$code-background-color: #E1C340;
$code-color:            #777;
@import "minima";